<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Medico+</title>
    <link type="text/css" rel="stylesheet" href="../static/about.css">
</head>
<body>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <nav>
        <ul class="nav-links"> 
            <li>
                <img src="heart-pulse.svg" alt="Logo" class="logo-img">
                <span class="logo-text">Medico+</span>
            </li>
            <li><a href="{{url_for('home')}}">HOME</a></li>
            <li><a href="">ABOUT</a></li>
            <li><a href="">SERVICES</a></li>
            <li><a href="">CONTACT</a></li>
        </ul>
        <div id="login" class="btn-login-container">
            <button class="btn-login">Login</button>
        </div>
    </nav>

    <div class="glassy-box-container">
        <div class="glassy-box">
            <h2>About Us</h2>
            <p>Welcome to Medico+, your trusted partner in promoting heart health. At Medico+, we are passionate about providing innovative solutions to monitor and enhance cardiovascular well-being.</p>
            <p>Our dedicated team of experts is committed to delivering accurate information, valuable resources, and user-friendly tools to empower you on your journey to a healthier heart.</p>
        </div>
        <div class="glassy-box">
            <h2>Our Mission</h2>
            <p>At Medico+, our mission is to make heart health monitoring accessible to everyone. We strive to create a community that is well-informed, proactive, and inspired to prioritize heart health for a better quality of life.</p>
        </div>
        <div class="glassy-box">
            <h2>Our Team</h2>
            <p>Meet the passionate individuals behind Medico+. Our team brings together diverse skills and expertise to ensure that our platform meets the highest standards of accuracy, reliability, and user satisfaction.</p>
        </div>
        <div class="glassy-box">
            <h2>Join Us in the Heart Health Journey</h2>
            <p>Whether you are looking for heart health tips, monitoring tools, or a supportive community, Medico+ is here for you. Join us on this journey towards a heart-healthy lifestyle, and let's prioritize heart health together!</p>
        </div>
    </div>

    <!-- Additional Glassy Boxes with Lorem Ipsum Text -->
   
</body>
</html>