<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medico+</title>
    <link href="../static/change_password.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/7027708486.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section>
      <div class="color"></div>
      <div class="color"></div>
      <div class="color"></div>
      <div class="box">
        <div class="square" style="--i: 0"></div>
        <div class="square" style="--i: 1"></div>
        <div class="square" style="--i: 2"></div>
        <div class="square" style="--i: 3"></div>
        <div class="square" style="--i: 4"></div>
        <div class="container">
          <div class="form">
            <h2>Change Password</h2>
            <form method="post" id="Form_">
              <div class="inputBox user">
                <div class="i">
                  <i class="fas fa-user"></i>
                </div>

                <input
                  type="text"
                  placeholder="Username"
                  name="Username"
                  id="Username"
                  required
                />
              </div>
              <div class="inputBox">
                <div class="i">
                  <i class="fas fa-lock"></i>
                </div>
                <input
                  type="password"
                  placeholder="New-Password"
                  name="password"
                  id="New-Password"
                  required
                />
                <div class="i-eye">
                  <i
                    id="password"
                    onclick="showpassword('password')"
                    class="fa-regular fa-eye-slash eventPassword"
                  ></i>
                </div>
              </div>
              <div class="inputBox">
                <div class="i">
                  <i class="fas fa-lock"></i>
                </div>
                <input
                  type="password"
                  id="Comfirm-Password"
                  placeholder="Comfirm-Password"
                  name="password"
                  required
                />
              </div>
              <div class="inputBox">
                <input
                  type="button"
                  onclick="send_otp()"
                  value="Send-Otp"
                  id="Send-Otp"
                />
              </div>
              <div class="inputBox user" id="OTP" style="display: none">
                <div class="i">
                  <i class="fa-solid fa-key"></i>
                </div>

                <input
                  type="text"
                  placeholder="OTP"
                  name="OTP"
                  id="OTP-input"
                />
              </div>

              <div class="error-flash">
                {% if messages%} {{messages[-1]}} {% endif %}
              </div>
              <div class="inputBox">
                <input
                  type="button"
                  onclick="otpVerification()"
                  hidden
                  value="submit"
                  id="submit"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
      <script
        type="text/javascript"
        src="{{ url_for('static', filename='scripts/changePassword.js') }}"
      ></script>
    </section>
  </body>
</html>
