<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medico+</title>
    <link href="../static/login.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/7027708486.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section>
      <div class="color"></div>
      <div class="color"></div>
      <div class="color"></div>
      <div class="box">
        <div class="square" style="--i: 0"></div>
        <div class="square" style="--i: 1"></div>
        <div class="square" style="--i: 2"></div>
        <div class="square" style="--i: 3"></div>
        <div class="square" style="--i: 4"></div>
        <div class="container">
          <div class="form">
            <h2>Login</h2>
            <form method="post">
              <div class="inputBox user">
                <div class="i">
                  <i class="fas fa-user"></i>
                </div>

                <input
                  type="text"
                  placeholder="Username"
                  name="Username"
                  id="Username"
                  required
                />
              </div>
              <div class="inputBox">
                <div class="i">
                  <i class="fas fa-lock"></i>
                </div>
                <input
                  type="password"
                  placeholder="New-Password"
                  name="password"
                  id="New-Password"
                  required
                />
                <div class="i-eye">
                  <i
                    id="password"
                    onclick="showpassword('password')"
                    class="fa-regular fa-eye-slash eventPassword"
                  ></i>
                </div>
              </div>
              <div class="inputBox">
                <div class="i">
                  <i class="fas fa-lock"></i>
                </div>
                <input
                  type="password"
                  id="Comfirm-Password"
                  placeholder="Comfirm-Password"
                  name="password"
                  required
                />
                <div class="i-eye">
                  <i
                    id="password"
                    onclick="showpassword('password')"
                    class="fa-regular fa-eye-slash eventPassword"
                  ></i>
                </div>
              </div>
              <div class="inputBox">
                <input
                  type="button"
                  onclick="send_otp()"
                  value="Send-Otp"
                  id="Send-Otp"
                />
              </div>
              <div class="inputBox user" id="OTP" style="display: none">
                <div class="i">
                  <i class="fas fa-user"></i>
                </div>

                <input
                  type="text"
                  placeholder="OTP"
                  name="OTP"
                  id="OTP-input"
                />
              </div>

              <div class="error-flash">
                {% if messages%} {{messages[-1]}} {% endif %}
              </div>
              <div class="inputBox">
                <input type="submit" hidden value="Sign-in" id="submit" />
              </div>
            </form>
          </div>
        </div>
      </div>
      <script
        type="text/javascript"
        src="{{ url_for('static', filename='scripts/login_register.js') }}"
      ></script>
      <script>
        flash = document.querySelector(".error-flash");
        otpBut = document.getElementById("Send-Otp");
        submit = document.getElementById("submit");
        otp = document.getElementById("OTP");
        otpinput = document.getElementById("OTP-input");
        newPass = document.getElementById("New-Password");
        confirPass = document.getElementById("Comfirm-Password");
        
        form = document.querySelector("form");
         send_otp=function() {
          if (form.checkValidity()) {
            if (confirPass.value !== newPass.value) {
              var errorMessage = "Passwords don't match";
              flash.innerText = errorMessage;
              return false;
            }
            // flash.innerText='{% if messages%} {{messages[-1]}} {% endif %}'
            const request = new XMLHttpRequest();

            request.open("POST", "/changePassword/generateotp/");
            request.setRequestHeader(
              "Content-Type",
              "application/json;charset=UTF-8"
            );
            user = document.getElementById("Username");
            user = { 'username': user.value };
            request.send(JSON.stringify(user));
            request.onload = function () {
              response = JSON.parse(request.responseText);
              if (response.generated) {
                processing();
              } else {
                flash.innerText = response.error;
              }
            };
          } else {
            form.reportValidity();
          }
        }
        function processing() {
          flash.innerText = '{% if messages%} {{messages[-1]}} {% endif %}';
          otpBut.hidden = true;
          otp.style.display = "flex";
          submit.hidden = false;
          otpinput.required = true;
        }
      </script>
    </section>
  </body>
</html>
