<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medico+</title>
    <link href="../static/form.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/7027708486.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav>
      <ul class="nav-links">
        <li style="padding-left: 15px">
          <img src="../static/heart-pulse.svg" alt="Logo" class="logo-img" />
          <span class="logo-text">Medico+</span>
        </li>
        <li><a href="{{url_for('home')}}" class="nav-text">HOME</a></li>
        <li><a href="" class="nav-text">ABOUT</a></li>
        <li><a href="" class="nav-text">CONTACT</a></li>
      </ul>
      <div id="login" class="btn-login-container">
        <button class="btn-login" onclick="Loginredirect()">Logout</button>
      </div>
    </nav>
    <section>
      <div class="color"></div>
      <div class="color"></div>
      <div class="color"></div>

      <!-- <div class="box" id="container1">
        
        <div class="square" style="--i: 0"></div>
        <div class="square" style="--i: 1"></div>
        <div class="square" style="--i: 2"></div>
        <div class="square" style="--i: 3"></div>
        <div class="square" style="--i: 4"></div>
        <div class="container">
          <div class="form">
            <h2 class="con1">Physical Info</h2>
            <form id="form1">
              
              <div class="inputBox user">
                <label>Height</label>
                <input
                  id="heightInput"
                  min="91"
                  max="244"
                  type="number"
                  placeholder="Height"
                  required
                />
              </div>
              <div class="inputBox user">
                <label>Weight</label>
                <input
                  id="weightInput"
                  min="23"
                  max="295"
                  type="number"
                  placeholder="Weight"
                  required
                />
              </div>

              <div class="inputBox">
                
                <input
                  type="button"
                  style="margin-left: 17%; padding-left: 13%"
                  value="next"
                  id="next1"
                />
              </div>
            </form>
          </div>
        </div>
      </div> -->
      <div class="box" id="container2">
        <div class="square" style="--i: 0"></div>
        <div class="square" style="--i: 1"></div>
        <div class="square" style="--i: 2"></div>
        <div class="square" style="--i: 3"></div>
        <div class="square" style="--i: 4"></div>
        <div class="container">
          <div class="form">
            <h2 class="con1">FORM</h2>
            <form id="form">
              <div class="inputBox user">
                <label>Do you feel any sense of chest pain?</label>
                <select
                  name="chest-pain"
                  id="chest-pain"
                  class="select-box"
                  required
                >
                  <option value="" disabled selected>Select</option>
                  <option value="0">Typical angina</option>
                  <option value="1">Atypical angina</option>
                  <option value="2">Non-anginal Pain</option>
                  <option value="3">Asymptomatic</option>
                </select>
              </div>
              <div class="inputBox user">
                <label
                  >What is your systolic blood pressure when you are
                  relaxed?</label
                >
                <input
                  id="bloodPressure"
                  min="91"
                  max="170"
                  type="number"
                  placeholder="Blood pressure"
                  required
                />
              </div>

              <div class="inputBox user"></div>
              <label>What are your total cholestrol levels?</label>
              <input
                id="cholestrol"
                min=""
                max="244"
                type="number"
                placeholder="Enter value in mg/dl"
                required
              />
              <div class="inputBox user">
                <label
                  >What are your glucose levels after an overnight fast?</label
                >
                <input
                  id="glucose-levels"
                  min="1"
                  max="97"
                  type="number"
                  placeholder="Enter value in mg/dl"
                />
              </div>
              <div class="inputBox user">
                <label>What are your resting ECG results?</label>
                <select
                  name="ecg-result"
                  id="ecg-result"
                  class="select-box"
                  required
                >
                  <option value="" disabled selected>Select</option>
                  <option value="0">Normal</option>
                  <option value="1">Having ST-T wave abnormality</option>
                  <option value="2">
                    probable/definite left ventricular hypertrophy by Estes'
                    criteria
                  </option>
                </select>
              </div>
              <div class="inputBox user">
                <label>What are your maximum heart rate levels?</label>
                <input
                  id="heart-rate"
                  min="0"
                  max="170"
                  type="number"
                  placeholder="Enter-value"
                  required
                />
              </div>
              <div class="inputBox user">
                <label>Do you feel any pain after physical activity?</label>
                <select
                  name="angina-exercise"
                  id="angina-exercise"
                  required
                  class="select-box"
                >
                  <option value="" disabled selected>Select</option>
                  <option value="1">Yes</option>
                  <option value="2">No</option>
                </select>
              </div>
              <div class="inputBox user">
                <label>The slope of the peak exercise ST segment</label>
                <select name="slope" id="slope" required class="select-box">
                  <option value="" disabled selected>Select</option>
                  <option value="0">Unsloping</option>
                  <option value="1">Flat</option>
                  <option value="2">Down Sloping</option>
                </select>
              </div>
              <div class="inputBox user">
                <label>
                  Do you know the count of abnormal major vessels found in
                  coronary angiography?</label
                >
                <select id="coronaryAngiography" onclick="vesselqnUnlock()">
                  <option value="" disabled selected>Select</option>
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>
              <div class="inputBox user">
                <label id="major-vessels-label" hidden>
                  Number of major vessels (0-3)</label
                >
                <input
                  hidden
                  id="major-vessels"
                  min="0"
                  max="3"
                  type="number"
                  placeholder="Enter value between 0 and 3"
                />
              </div>
              <div class="inputBox user">
                <label>
                  Do you have ST depression values measured during exercise and
                  rest</label
                >
                <select id="oldpeak_unlock" onclick="oldpeak_Unlock()">
                  <option value="" disabled selected>Select</option>
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>
              <div class="inputBox user">
                <label id="ST-at-stress-label" hidden
                  >ST depression values measured during exercise</label
                >
                <input
                  type="text"
                  placeholder="ST depression during exercise"
                  id="ST-at-stress"
                  hidden
                />
              </div>
              <div class="inputBox user">
                <label id="ST-at-rest-label" hidden
                  >ST depression values measured during rest</label
                >
                <input
                  type="text"
                  placeholder="ST depression during rest"
                  id="ST-at-rest"
                  hidden
                />
              </div>
              <div class="inputBox user"></div>
              <div class="inputBox user"></div>
              <div class="inputBox">
                <input type="submit" value="submit" id="next2" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <script>
      //var form1 = document.getElementById("form1");
      var progress = document.getElementById("progress");
      var diabetes = document.getElementById("diabetesInput");

      diabetes.onclick = function () {
        diabetesage = document.getElementById("diabetesAgeInput");
        if (diabetes.value === "1") {
          diabetesage.disabled = false;
          diabetesage.style.cursor = "auto";
          diabetesage.style.filter = "blur()";
        } else {
          diabetesage.value = "";
          diabetesage.disabled = true;
          diabetesage.style.cursor = "not-allowed";
          diabetesage.style.filter = "blur(0.5px)";
        }
      };

      function Loginredirect() {
        if (document.querySelector(".btn-login").textContent == "Logout") {
          window.location.href = "{{url_for('logout')}}";
        }
      }
      function vesselqnUnlock() {
        const input = document.getElementById("major-vessels");
        const label = document.getElementById("major-vessels-label");
        if (document.getElementById("coronaryAngiography").value == "1") {
          input.hidden = false;
          label.hidden = false;
          input.required = true;
        } else {
          input.hidden = true;
          label.hidden = true;
          input.required = false;
        }
      }
      function oldpeak_Unlock() {
        const input1 = document.getElementById("ST-at-stress");
        const input2 = document.getElementById("ST-at-rest");
        const label1 = document.getElementById("ST-at-stress-label");
        const label2 = document.getElementById("ST-at-rest-label");
        if (document.getElementById("oldpeak_unlock").value == "1") {
          input1.hidden = false;
          label1.hidden = false;
          // input1.required,input2.required=true;
          label2.hidden = false;
          input2.hidden = false;
        } else {
          input1.hidden = true;
          label1.hidden = true;
          // input1.required,input2.required=false;
          label2.hidden = true;
          input2.hidden = true;
        }
      }
    </script>
  </body>
</html>
