<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link href="../static/login.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/7027708486.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section>
      <div class="color"></div>
      <div class="color"></div>
      <div class="color"></div>
      <div class="box">
        <div class="square" style="--i: 0"></div>
        <div class="square" style="--i: 1"></div>
        <div class="square" style="--i: 2"></div>
        <div class="square" style="--i: 3"></div>
        <div class="square" style="--i: 4"></div>
        <div class="container">
          <div class="form">
            <h2>Login</h2>
            <form method="post">
              <div class="inputBox user">
                <div class="i">
                  <i class="fas fa-user"></i>
                </div>

                <input type="text" placeholder="Username" name="Username" />
              </div>
              <div class="inputBox">
                <div class="i">
                  <i class="fas fa-lock"></i>
                </div>
                <input type="password" placeholder="Password" name="password" />
                <div class="i-eye">
                  <i
                    id="password"
                    onclick="showpassword('password')"
                    class="fa-regular fa-eye-slash eventPassword"
                  ></i>
                </div>
              </div>

              <div class="error-flash">
                {% if messages%} {{messages[-1]}} {% endif %}
              </div>
              <div class="inputBox">
                <input type="submit" value="Sign-in" />
              </div>
              <p class="forget">Forget Password ? <span onclick="forgotRedirect()">Click Here</span></p>
              <p class="forget">
                Don't have an account ?
                <a href="{{url_for('register')}}">Sign up</a>
              </p>
            </form>
          </div>
        </div>
      </div>
      <script
        type="text/javascript"
        src="{{ url_for('static', filename='scripts/login_register.js') }}"
        
      >
      </script>
      <script>
        function forgotRedirect() {
          console.log("Hello");
          const url = '{{url_for("changePassword")}}';
          var windowName =
            "popupWindow" + Math.random().toString(36).substr(2, 10);

          var windowWidth = 600; 
          var windowHeight = 900; 

          
          var leftPosition =
            (window.innerWidth - windowWidth) / 2 + window.screenX;
          var topPosition =
            (window.innerHeight - windowHeight) / 2 + window.screenY;

          var newWindow = window.open(
            url,
            windowName,
            "width=" +
              windowWidth +
              ",height=" +
              windowHeight +
              ",left=" +
              leftPosition +
              ",top=" +
              topPosition
          );
        }
      </script>
    </section>
  </body>
</html>
