<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medico+</title>
    <link href="../static/form.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/7027708486.js"
      crossorigin="anonymous"
    ></script>
    <style>
        .help-container {
            position: relative; 
        }
    
        .help-container:hover .help-text {
            display: block;
        }
    
        .help-text {
            display: none;
            position: absolute;
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 1;
            top: 100%;
            left: 0; 
            margin-top: 5px;
            margin-left: 15px;
        }
    
        .help-icon {
            cursor: pointer;
            margin-left: 5px;
        }
    </style>
  </head>
  <body>
    <nav>
      <ul class="nav-links">
        <li style="padding-left: 15px">
          <img src="../static/heart-pulse.svg" alt="Logo" class="logo-img" />
          <span class="logo-text">Medico+</span>
        </li>
        <li><a href="{{url_for('home')}}" class="nav-text">HOME</a></li>
        <li><a href="" class="nav-text">ABOUT</a></li>
        <li><a href="" class="nav-text">CONTACT</a></li>
      </ul>
      <div id="login" class="btn-login-container">
        <button class="btn-login" onclick="Loginredirect()">Logout</button>
      </div>
    </nav>
    <section>
      <div class="color"></div>
      <div class="color"></div>
      <div class="color"></div>

      <div class="box" id="container2">
        <div class="square" style="--i: 0"></div>
        <div class="square" style="--i: 1"></div>
        <div class="square" style="--i: 2"></div>
        <div class="square" style="--i: 3"></div>
        <div class="square" style="--i: 4"></div>
        <div class="container">
          <div class="form">
            <h2 class="con1">FORM</h2>
            <form id="form">
              <div class="inputBox user">
                <label>Do you feel any sense of chest pain?</label>
                <span class="help-icon" onmouseover="showHelp(this)" onmouseout="hideHelp(this)">?</span>
                <div class="help-text">
                  Enter your email address.
                </div>
                <select
                  name="chest-pain"
                  id="chest-pain"
                  class="select-box"
                  required
                >
                  <option value="" disabled selected>Select</option>
                  <option value="0">Typical angina</option>
                  <option value="1">Atypical angina</option>
                  <option value="2">Non-anginal Pain</option>
                  <option value="3">Asymptomatic</option>
                </select>
              </div>
              <!-- Add help icon and text for each form field -->
              <div class="inputBox user">
                <label>What is your systolic blood pressure when you are relaxed?</label>
                <span class="help-icon" onmouseover="showHelp(this)" onmouseout="hideHelp(this)">?</span>
                <div class="help-text">
                  Enter your systolic blood pressure value when you are relaxed.
                </div>
                <input
                  id="bloodPressure"
                  min="91"
                  max="170"
                  type="number"
                  placeholder="Blood pressure"
                  required
                />
              </div>

              <div class="inputBox user">
                <label>What are your total cholesterol levels?</label>
                <span class="help-icon" onmouseover="showHelp(this)" onmouseout="hideHelp(this)">?</span>
                <div class="help-text">
                  Enter your total cholesterol levels in mg/dl.
                </div>
                <input
                  id="cholesterol"
                  min=""
                  max="244"
                  type="number"
                  placeholder="Enter value in mg/dl"
                  required
                />
              </div>
              <!-- Add more form fields with help icons and text as needed -->
              <div class="inputBox user">
                <label
                  >What are your glucose levels after an overnight fast?</label
                >
                <span class="help-icon" onmouseover="showHelp(this)" onmouseout="hideHelp(this)">?</span>
                <div class="help-text">
                  Enter your total cholesterol levels in mg/dl.
                </div>
                <input
                  id="glucose-levels"
                  min="1"
                  max="97"
                  type="number"
                  placeholder="Enter value in mg/dl"
                />
              </div>
              <div class="inputBox user">
                <label>What are your resting ECG results?</label>
                <span class="help-icon" onmouseover="showHelp(this)" onmouseout="hideHelp(this)">?</span>
                <div class="help-text">
                  Enter your total cholesterol levels in mg/dl.
                </div>
                <select
                  name="ecg-result"
                  id="ecg-result"
                  class="select-box"
                  required
                >
                  <option value="" disabled selected>Select</option>
                  <option value="0">Normal</option>
                  <option value="1">Having ST-T wave abnormality</option>
                  <option value="2">
                    probable/definite left ventricular hypertrophy by Estes'
                    criteria
                  </option>
                </select>
              </div>
              <div class="inputBox user">
                <label>What are your maximum heart rate levels?</label>
                <span class="help-icon" onmouseover="showHelp(this)" onmouseout="hideHelp(this)">?</span>
                <div class="help-text">
                  Enter your total cholesterol levels in mg/dl.
                </div>
                <input
                  id="heart-rate"
                  min="0"
                  max="170"
                  type="number"
                  placeholder="Enter-value"
                  required
                />
              </div>
              <div class="inputBox user">
                <label>Do you feel any pain after physical activity?</label>
                <select
                  name="angina-exercise"
                  id="angina-exercise"
                  required
                  class="select-box"
                >
                  <option value="" disabled selected>Select</option>
                  <option value="1">Yes</option>
                  <option value="2">No</option>
                </select>
              </div>
              <div class="inputBox user">
                <label>The slope of the peak exercise ST segment</label>
                <span class="help-icon" onmouseover="showHelp(this)" onmouseout="hideHelp(this)">?</span>
                <div class="help-text">
                  Enter your total cholesterol levels in mg/dl.
                </div>
                <select name="slope" id="slope" required class="select-box">
                  <option value="" disabled selected>Select</option>
                  <option value="0">Unsloping</option>
                  <option value="1">Flat</option>
                  <option value="2">Down Sloping</option>
                </select>
              </div>
              <div class="inputBox user">
                <label>
                  Do you know the count of abnormal major vessels found in
                  coronary angiography?</label
                >
                <span class="help-icon" onmouseover="showHelp(this)" onmouseout="hideHelp(this)">?</span>
                <div class="help-text">
                  Enter your total cholesterol levels in mg/dl.
                </div>
                <select id="coronaryAngiography" onclick="vesselqnUnlock()">
                  <option value="" disabled selected>Select</option>
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
                </div>
              {% comment %} <div class="inputBox user">
                <label id="major-vessels-label" hidden>
                  Number of major vessels (0-3)</label
                >
                <input
                  hidden
                  id="major-vessels"
                  min="0"
                  max="3"
                  type="number"
                  placeholder="Enter value between 0 and 3"
                />
              </div>
              <div class="inputBox user">
                <label>
                  Do you have ST depression values measured during exercise and
                  rest</label
                >
                <select id="oldpeak_unlock" onclick="oldpeak_Unlock()">
                  <option value="" disabled selected>Select</option>
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>
              <div class="inputBox user">
                <label id="ST-at-stress-label" hidden
                  >ST depression values measured during exercise</label
                >
                <input
                  type="text"
                  placeholder="ST depression during exercise"
                  id="ST-at-stress"
                  hidden
                />
              </div>
              <div class="inputBox user">
                <label id="ST-at-rest-label" hidden
                  >ST depression values measured during rest</label
                >
                <input
                  type="text"
                  placeholder="ST depression during rest"
                  id="ST-at-rest"
                  hidden
                />
              </div> {% endcomment %}

              <div class="inputBox">
                <input type="submit" value="submit" id="next2" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <script>
      // Your existing JavaScript code
      function Loginredirect() {
        if (document.querySelector(".btn-login").textContent == "Logout") {
          window.location.href = "{{url_for('logout')}}";
        }
      }

      function showHelp(element) {
        element.parentNode.querySelector('.help-text').style.display = "block";
      }

      function hideHelp(element) {
        element.parentNode.querySelector('.help-text').style.display = "none";
      }
    </script>
  </body>
</html>
